/*the trackbar for hitting the puck*/

.trackcontainer{
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    min-height: 100vh;
}

.pucktrack{
    height: 50px;
    width: 100%;
    background-color:rgb(210, 227, 255); 
}

.hitzone{
    position: absolute;
    z-index: 10;
    right: 600px;


    height: 50px;
    width: 40px;
    background-color: rgb(103, 246, 87);
    pointer-events: auto;
}

/*animation for the "note"*/

.pucknote{
    position: absolute;
    z-index: 11;

    height: 50px;
    width: 20px;
    background-color:rgb(14, 14, 14);
    
    animation: movenote 30s linear infinite;

    pointer-events: none; /* disabling clicking until hit zone*/


}

.pucknote:active {
    background: #0f0;
}

/*note moving randomizaton*/

@keyframes movenote {
    
    0% {
        transform: translate3d(0,0,0);
        pointer-events: none;
    }

    4.8% {
        transform: translate3d(645px,0,0);
        pointer-events: none;
    }

    5% {
        transform: translate3d(655px,0,0);
        pointer-events: auto;
    }

    5.1% {
        transform: translate3d(665px,0,0);
        pointer-events: none;
    }

    10% {
        transform: translate3d(1300px,0,0);
        pointer-events: none;
    }

    15% {
        transform: translate3d(655px,0,0);
        pointer-events: auto;
        }

    20% {
        transform: translate3d(100px,0,0);
    }

    30% {
        transform: translate3d(1300px,0,0);
    }

    40% {
        transform: translate3d(400px,0,0);
    }

    50% {
        transform: translate3d(0,0,0);
    }

    60% {
        transform: translate3d(1000px,0,0);
    }

    70% {
        transform: translate3d(500px,0,0);
    }

    80% {
        transform: translate3d(0,0,0);
    }

    90% {
        transform: translate3d(500px,0,0);
    }

    100% {
        transform: translate3d(1300px,0,0);
    }
}